{% extends 'base_form.html' %}
{% from 'bootstrap5/form.html' import render_form, render_form_row, render_field %}

{% block form %}
    {% if  user.is_anonymous %}
        <p>You can log in to your account to save the created links in your profile.</p>
    {% endif %}
    {{ render_form(form) }}
    {% if redirect_to %}
        <div class="alert alert-success mt-4" role="alert">
            This link redirects to: <a href="{{ redirect_to }}">{{ redirect_to|truncate(44) }}</a>
        </div>
    {% endif %}
{% endblock %}