{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_form_row, render_field %}

{% block title %}Redirect checker{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h1 class="m-lg-5">REDIRECT CHECKER</h1>
                {% if  user.is_anonymous %}
                    <p>You can log in to your account to save the created links in your profile.</p>
                {% endif %}
                {{ render_form(form) }}
                {% if redirect_to %}
                    <div class="alert alert-success mt-4" role="alert">
                        This link redirects to: <a href="{{ redirect_to }}">{{ redirect_to|truncate(44) }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}