{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field  %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-5">
                <h1 class="m-lg-5">Login</h1>
                <form method="post">
                    {{ form.csrf_token() }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            {{ render_field(form.submit) }}
                        </div>
                        <div class="col-md-6">
                            <a class="d-grid gap-2 d-md-flex justify-content-md-end" href="{{ url_for('user.reset_password_request') }}" role="button">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}